@model System.Collections.Generic.List<MyLibraryProject.Models.Book>

@{
    ViewBag.Title = "AllTheBooks";
}
<h2>Currently in My Library:</h2>

@for(var i = 0; i < Model.Count; i++)
{
    <h3>@Model[i].Title</h3>
    <p>@Model[i].Author</p>
    <p>Book on Shelf: @Model[i].OnShelf</p>
}

