@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image: url(../../Images/Books.jpg); background-size: cover; color: ghostwhite">
    <h1><strong>My Library</strong></h1>
    
</div>

<div class="row">
    <div class="col-md-8">
        <h2>Most Recent Book</h2>
        <p>
            Stuff
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Top Ranked Books</h2>
        <p></p>
        <p></p>
    </div>
</div>

<h3>@Html.ActionLink("Add a new book!", "Add")</h3>